.golfTitle{
  text-align: center;
  padding-top : 10px;
  padding-bottom: 10px;
}

.golfList{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top : 1px solid #f2f2f2;

  &>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    border-bottom : 1px solid #f2f2f2;
    padding-bottom: 10px;

    &>span:first-child{
      padding-left: 15px;
    }

    &>span:last-child{
      flex: 2;
      text-align: center;
    }
  }
}

.golfTxt{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  padding-bottom: 100px;

  &>h2{
    margin-top: 10px;
    font-size: 40px;
  }

  &>h3{
    font-size: 24px;
  }
}